In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [12]:
df = pd.read_csv('medical_examination.csv')

In [13]:
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [14]:
bmi = df['weight'] / (df['height'] /100) ** 2
df['overweight'] = bmi > 25
df.head()

   id    age  gender  height  weight  ...  smoke  alco  active  cardio  overweight
0   0  18393       2     168    62.0  ...      0     0       1       0       False
1   1  20228       1     156    85.0  ...      0     0       1       1        True
2   2  18857       1     165    64.0  ...      0     0       0       1       False
3   3  17623       2     169    82.0  ...      0     0       1       1        True
4   4  17474       1     156    56.0  ...      0     0       0       0       False

[5 rows x 14 columns]

In [15]:
df['cholesterol'].replace([1, 2, 3], [0, 1, 1], inplace=True) 
df.head()

   id    age  gender  height  weight  ...  smoke  alco  active  cardio  overweight
0   0  18393       2     168    62.0  ...      0     0       1       0       False
1   1  20228       1     156    85.0  ...      0     0       1       1        True
2   2  18857       1     165    64.0  ...      0     0       0       1       False
3   3  17623       2     169    82.0  ...      0     0       1       1        True
4   4  17474       1     156    56.0  ...      0     0       0       0       False

[5 rows x 14 columns]

In [16]:
df['gluc'].value_counts()

1    59479
3     5331
2     5190
Name: gluc, dtype: int64

In [17]:
df['gluc'].replace([1, 2, 3], [0, 1, 1], inplace=True)
df.head()

   id    age  gender  height  weight  ...  smoke  alco  active  cardio  overweight
0   0  18393       2     168    62.0  ...      0     0       1       0       False
1   1  20228       1     156    85.0  ...      0     0       1       1        True
2   2  18857       1     165    64.0  ...      0     0       0       1       False
3   3  17623       2     169    82.0  ...      0     0       1       1        True
4   4  17474       1     156    56.0  ...      0     0       0       0       False

[5 rows x 14 columns]